@font-face {
    font-family: 'king';
    src: url('fonts/KingthingsItalique.woff') format('woff'),
        url('fonts/KingthingsItalique.woff2') format('woff2');
}


body {
    background-color: rgb(26, 26, 26);

}

#ham {
    width: 0px;
    margin: 10px;
    cursor: pointer;
    margin-top: 25px;
}

header label {
    cursor: pointer;
}

#btn-nav:checked~.nav {
    padding-left: 55px;

}





.nav {
    flex-direction: row;
    width: 130%;

}

.hamburguer {
    width: 35px;
    cursor: pointer;
}


.menuDesktop {
    display: none;
    font-size: 1.2rem;
}


.grid {

    /* height: 100vh; */
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


#cabecera {
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: solid grey 1px;*/

}


h2,
h3,
h4,
p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    margin: 8px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    color: rgb(161, 161, 161);
}

#yo {
    width: 70%;

    position: relative;
    bottom: 80px;
    right: 20px;
}






#centro {

    /*  border: solid grey 1px;*/
    position: relative;
}

#intro {
    width: 65%;
    position: absolute;
    top: 0;

    z-index: 1;
    text-align: right;
    right: 30px;

}



#s1,
#s2,
#s3,
#s4,
#s5,
#s6,
#s7 {

    grid-column: 1/1;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}



.rrss {

    width: 30px;

}



#dndestamos,
#bienv {
    margin-top: 300px;
}


footer {

    margin-top: 190px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
}



@media screen and (min-width: 768px) {



    #ham {
        position: fixed;
        top: 10;
        left: 10;

        display: flex;
        gap: 1rem;

        font-size: 0.8rem;
    }

    #btn-nav {
        display: none;
    }

    .menuDesktop {
        display: flex;
        gap: 15px;
    }



    footer {
        margin-top: 190px;

    }

    .grid {

        /* height: 100vh; */
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 40px;
    }







    #yo {
        width: 40%;

        position: relative;
        bottom: 80px;
        right: 20px;
    }



    #intro {
        width: 65%;
        position: absolute;
        top: 0;

        z-index: 1;
        text-align: right;
        right: 100px;
        top: 20px;

    }




    #s1 {
        grid-column: 1/2;
        grid-row: 2;
    }

    #s2 {
        grid-column: 2/3;
        grid-row: 2;
    }

    #s3 {
        grid-column: 3/4;
        grid-row: 2;
    }


    #s4 {
        grid-column: 1/2;
        grid-row: 3;
    }

    #s5 {
        grid-column: 2/3;
        grid-row: 3;
    }

    #s6 {
        grid-column: 3/4;
        grid-row: 3;
    }




    #f1 {
        grid-column: 2/3;
        grid-row: 1;
    }

    #f2 {
        grid-column: 1/2;
        grid-row: 2;
    }

    #f3 {
        grid-column: 2/3;
        grid-row: 2;
    }


    #f4 {
        grid-column: 3/4;
        grid-row: 2;
    }

    #f5 {
        margin-left: 40px;
        text-align: left;
        grid-column: 1/3;
        grid-row: 4;
    }

    #f6 {
        margin-left: 40px;
        text-align: left;
        grid-column: 1/3;
        grid-row: 5;
    }




}