body {
    background-color: rgb(26, 26, 26);
    margin: 20px;
}

.menuDesktop {
    margin-top: 10px;
    display: none;
    font-size: 1.2rem;
}


#english{
    width: 40px;
    margin-top: -8px;
}



h2,
h3,
h4,
p,
li {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin-top: 70px;
}

p {
    margin: 8px;
}

h1 {
    margin-bottom: 100px;
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    color: rgb(161, 161, 161);
}



.alfonsaink {
    margin-top: 200px;
    text-align: center;
}

@media screen and (min-width: 768px) {

    body {
        margin: 100px;
    }
}