@font-face {
    font-family: 'intro';
    src: url('../fonts/Manufacturing_Consent/ManufacturingConsent-Regular.ttf') format('woff'),

}


body {
    background-color: rgb(26, 26, 26);
}

#ham {
    width: 0px;
    margin: 10px;
    cursor: pointer;
    margin-top: 25px;
}

header label {
    cursor: pointer;
}

#btn-nav:checked~.nav {
    padding-left: 55px;

}





.nav {
    flex-direction: row;
    width: 130%;

}

.hamburguer {
    width: 35px;
    cursor: pointer;
}


.menuDesktop {
    gap: 45px;
    margin-top: -50px;

    display: flex;
    justify-content: center;
}

#menu {
    margin-top: 50px;
    position: absolute;
} 

#english{
    width: 40px;
}



main {

    /* height: 100vh; */
    width: 100%;

    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
}




h1,
h2,
h3,
h4,
p,
form {

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1 {
    margin-top: 300px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;

}




#contacto {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}










#footer {
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    align-items: end;
}

.pol {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
}

.t {
    font-size: 9pt;
}


.alfonsaink {
    margin-top: 200px;
    text-align: center;
}




@media screen and (min-width: 768px) {

    #ham {
        position: fixed;
        top: 10;
        left: 10;

        display: flex;
        gap: 1rem;

        font-size: 0.8rem;
    }

    #btn-nav {
        display: none;
    }

     #btnMenu {
        display: none;
    }

    .menuDesktop {
        margin-top: 10px;
        gap: 45px;
        display: flex; 
        justify-content: center;
    }

    .menuDesktop a {
        color: white;
        text-decoration: none;
    }

    .menuDesktop a:hover {
        color: red;
        font-size: 0.9em;
        transition: 0.3s;
    }


    #english {
        width: 40px;
        margin-top: -8px;
    }


}